.container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(88, 141, 233);
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px gray ;
}

.navlinks{
    display: flex;
    gap: 5rem;

}
a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(241, 236, 236);
}
a:hover{
    color: rgb(219, 38, 14);
}

.logo{
    color:rgb(34, 33, 44);

}